<a href="https://colab.research.google.com/github/Mohammad-Zahed-Hossen/Python/blob/main/Module2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1 - String Operation
name = input("Enter your name: ")
print(f"Your name is:{name}")

print(f"Using title:{name.title()}")
print(f"First ch:{name[0].upper()} & Last ch: {name[-1].upper()}")
print(f"Reversed:{name[::-1]}")
print(f"Counting 'a':{name.count('a')}")
print(f"After removing space:{name.strip().replace(" ", "")}")

Enter your name:  zahed hossen
Your name is:  zahed hossen
Using title: Zahed Hossen
First ch:  & Last ch: N
Reversed:nessoh dehaz
Counting 'a':1
After removing space:zahedhossen

Reversed: Start and end calculations are as normal. From zero to len()-1. But -1 step indicates it to iterate backward. last index to first index.

In [ ]:
# Q2 - String Operation
s = "Learning Python Is Fun"
print(f"Using lower-case: {s.lower()}")
print(f"Replacing: {s.replace("Fun", "Awesome")}")
print(f"Print 3rd to 10th ch: {s[2:10]}")
if s.endswith("Fun"):
  print("String ends with Fun.")
else:
  print("Not ends with Fun!")
print(list(s))

Using lower-case: learning python is fun
Replacing: Learning Python Is Awesome
Print 3rd to 10th ch: arning P
String ends with Fun.
['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'I', 's', ' ', 'F', 'u', 'n']

In [ ]:
# Q3 - Math Operation
a = 5 + 3 * 4       # 5 + 12 = 17
b = (5 + 3) * 4     # 8 * 4 = 32
c = 100 / 6         # Floating division
d = 100 // 6        # Intiger division
e = 2 ** 5 * 3      # 2^5 * 3 = 32 * 3 = 96

print(a)
print(b)
print(round(c, 2))
print(d)
print(e)

17
32
16.67
16
96

In [ ]:
# Q4 - math module problem

import math
print(f"Square root of 225: {math.sqrt(225)}")
print(f"Sin(30): {round(math.sin(math.radians(30)), 2)}")
print(f"Pow(8,3): {int(math.pow(8,3))}")

Square root of 225: 15.0
Sin(30): 0.5
Pow(8,3): 512

In [ ]:
#Q5
n = int(input("Enter any number: "))
if n > 0:
  if n % 2 == 0:
    print(f"{n} is a Positive even number.")
  else:
    print(f"{n} is a Positive odd number.")

elif n < 0:
  if n % 2 == 0:
    print(f"{n} is a Negative even number.")
  else:
    print(f"{n} is a Negative odd number.")

else:
  print("Your enter value zero!")

Enter any number: -43
-43 is a Negative odd number.

In [ ]:
#Q6
x = float(input("Enter your physics mark: "))
y = float(input("Enter your mathematics mark: "))
z = float(input("Enter your chemistry mark: "))

total_marks = x + y + z
avg_mark = float(total_marks / 3)

print(f"Total: {total_marks}")
print(f"Average: {avg_mark}")

if x >= 40 and y >= 40 and z >= 40:
  print("Pass")
else:
  print("Fail.")

if avg_mark >= 75 and x >= 40 and y >= 40 and z >= 40:
  print("Distinction")
elif avg_mark >= 75 and (x < 40 or y < 40 or z < 40):
  print("Average is in Distinction level but result is fail")
elif avg_mark < 75 and (x < 40 or y < 40 or z < 40):
  print("Average is in below Distinction level also result is fail")
elif avg_mark < 75 and (x >= 40 or y >= 40 or z >= 40):
  print("Average is in below Distinction level but result is pass")
else:
  print("Normal Pass")

Enter your physics mark: 95
Enter your mathematics mark: 95
Enter your chemistry mark: 35
Total: 225.0
Average: 75.0
Fail.
Average is in Distinction level but result is fail

In [ ]:
# Q7
for i in range(50):
  if i % 4 == 0:
    continue
  if i == 37:
    break
  print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, 13):
  print(f"{n} * {i} = {n * i}")

Enter a number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

In [ ]:
r = int(input("Enter the number of row: "))
for i in range(1, r+1):
  for j in range(1, i + 1):
    print(j,end="")
  print()

Enter the number of row: 5
1
12
123
1234
12345

In [ ]:
nums = [12, 4, 8, 1, 9, 3, 4, 4]
nums.sort()
print(f"Sorted list: {nums}")

nums.insert(2, 100)
print(f"After inserting 100 at index 2: {nums}")

nums.remove(1)
print(f"After the removing the value 1: {nums}")

print(f"Maximum Value: {max(nums)}")
print(f"Minimum Value: {min(nums)}")

nums.reverse()
print(f"Reversed list: {nums}")

counts = nums.count(4)
print(f"Number of 4's: {counts} times.")

Sorted list: [1, 3, 4, 4, 4, 8, 9, 12]
After inserting 100 at index 2: [1, 3, 100, 4, 4, 4, 8, 9, 12]
After the removing the value 1: [3, 100, 4, 4, 4, 8, 9, 12]
Maximum Value: 100
Minimum Value: 3
Reversed list: [12, 9, 8, 4, 4, 4, 100, 3]
Number of 4's: 3

In [ ]:
# Q11
l = []
for i in range(10):
  n = int(input(f"Enter {i} integer value: "))
  l.append(n)

print(l)

print("Printing Odd numbers:")
for n in l:
  if n % 2 != 0:
    print(n, end=" ")
print()

print("Number > 20:")
for n in l:
  if n > 20:
    print(n, end=" ")
print(355)

for i in range(len(l)):
    if l[i] < 10:
        l[i] = 0

print("After replacing numbers < 10 with 0:", l)

Enter 10 integer value: 23
Enter 10 integer value: 4
Enter 10 integer value: 65
Enter 10 integer value: 45
Enter 10 integer value: 67
Enter 10 integer value: 2
Enter 10 integer value: 34
Enter 10 integer value: 67
Enter 10 integer value: 43
Enter 10 integer value: 25
[23, 4, 65, 45, 67, 2, 34, 67, 43, 25]
Printing Odd numbers:
23 65 45 67 67 43 25
Number > 20:
23 65 45 67 34 67 43 25
After replacing numbers < 10 with 0: [23, 0, 65, 45, 67, 0, 34, 67, 43, 25]

In [ ]:
nums = [x for x in range(1, 101) if x % 3 == 0 and x % 5 != 0]
print(nums)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]